.pill {
  display: inline-block;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 24px;
  /* height: 24px; */
  font-size: .75em;
  color:rgba(255, 255, 255, .6);
}
