.buttonNavWrapper {
  position: fixed;
  top: 172px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.leftWrapper {
  position: fixed;
  top: 225px;
  height: 100vh;
  width: 373px;
  overflow-y: scroll;
  padding-bottom: 300px;
}


.mainWrapper, .pathNavigatorWrapper {
  margin-left: 473px;
}

.mainWrapper {
  position: fixed;
  top: 269px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 300px;
}

.pathNavigatorWrapper{
  position: fixed;
  top: 172px;
  color: white;
  font-size: 1.5rem;
  /* This height is a guestimate */
  height: 36px;
}

.panelAnimation-enter {
  background: red;
  transition: 1s;
}

.panelAnimation-action {
  background: yellow;
}

.panelAnimation-exit {

}





 



