.contentContainer {

}

.aContainer {
  height: 200px; 
  /* border-style: solid;
  border-color: white;
  border-width: 1px; */
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
}


