@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html * {
  font-family: 'Roboto Condensed', sans-serif;
}

html * {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

.flexH {
  display: flex;
}

.flexV {
  display: flex;
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcfe {
  justify-content: flex-end;
}

.jcfs {
  justify-content: flex-start;
}

.aic {
  align-items: center;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}

.mla {
  margin-left: auto;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap
}

.fone {
  flex: 1;
}

.ma {
  margin: auto;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    background-color: 1;
  }
}

.background {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.cursor {
  animation: pulse 1s infinite;
  font-size: 1em;
  margin-bottom: 2.5px;
  color: white;
}

:disabled {
  opacity: .5
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1rem;
  outline : "none";
}

.button:hover {
  border-color: rgba(255, 255, 255, .5);
}


.is-selected {
  color:rgba(255, 255, 255, .6);
}

.logo {
  border-style: solid;
}

.searchField {
  flex: 1;
}

inline {
  display: inline;
}

input {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  height: 34px;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  /* border-radius: 3px; */
  outline : none;
  width: 100%;
  overflow: hidden;
}

input::placeholder {
  color: white;
  opacity: .5;
}

textarea::placeholder {
  color: white;
  opacity: .5;
}


.titleContainer {
  border-bottom: 3px solid white;
}

label {
  font-size: .85rem;
  font-weight: lighter;
  color:rgba(255, 255, 255, .7);
}

textArea {
  color: white;
  font-weight: lighter;
  outline: none;
}

.border {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

.panel {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 3px;
  position: relative;
  padding: 30px 20px 20px 20px;
}

.panelMain {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 0 0 3px 3px;
  border-top: none;
  padding: 20px 20px 20px 20px;
}

.panelTitle {
  font-size: 1.3rem;
  font-weight: lighter;
  position: absolute;
  top: -17px;
  left: 14px;
  color: white;
}

.headerWrapper {
  position: fixed;
  top: 0px;
  left: 0;
  /* border-style: solid;
  border-width: 2px;
  border-color: blue; */
  width: 100%;
}

.titleWrapper {
  position: fixed;
  top: 77px;
  left: 0;
  /* border-style: solid;
  border-width: 2px;
  border-color: rgb(72, 180, 30); */
  width: 100%;
}

.scroll {
  height: 225px;
}

.resultsWrapper {
  position: fixed;
  top: 172px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 300px;
  /* border-style: solid;
  border-width: 2px;
  border-color: red; */
}

.toolIcon {
  color: white;
}

.toolIcon:hover {
  cursor: pointer;
}

.toolDivider {
  font-size: 1.5rem;
  font-weight: lighter;
  /* color:rgba(0, 0, 0, .4); */
}

.icon {
  width: 28px;
  height: 28px;
  font-size: 1.2rem;
}

.icon:hover {
  background:rgba(0, 0, 0, .4);
  border-radius: 3px;
}

.nodeContainerHeader {
  background: white;
  width: 34px;
  height: 34px;
}

.stepContainerHeader {
  background: white;
  width: 100px;
  height: 34px;
}

a:visited, a:active, a:link {
  color:rgba(0,0,238, .5)
}

.dottedHorizontalBorder {
  background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.links {
  font-size: 1rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 1);
}

.message {
  color: #ffffff;
  font-size: 1rem;
  font-weight: lighter;
}





